.objective {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 100px 30px 100px 30px;
    background-color: white;
    color: black;
}

.descricao {
    width: 300px;
    font-weight: 600;
    line-height: 20px;
}